<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>

    <test name="test1">
        <parameter name="mainCategory" value="Аксессуары" />
        <parameter name="category" value="Бижутерия" />
        <parameter name="subCategory" value="Броши" />
        <parameter name="sortBy" value="Убыванию цены" />
        <parameter name="minPrice" value="40" />
        <parameter name="maxPrice" value="150" />
        <parameter name="productName" value="Медведь" />
        <parameter name="currencyName" value="Армянский драм" />
        <parameter name="pickUpPointAddress" value="Минск, улица Бельского, 2" />
        <parameter name="deliveryByCourierAddress" value="Минск, проспект Пушкина" />
        <parameter name="house" value="10" />
        <parameter name="flat" value="10" />
        <parameter name="entrance" value="10" />
        <parameter name="floor" value="10" />
        <parameter name="oneMoreDeliveryByCourierAddress" value="Минск, проспект Независимости" />
        <classes>
            <class name="tests.AddItemsToBasketAndDeleteTest" />
            <class name="tests.AddItemToFavouritesAndBasketTest" />
            <class name="tests.ChangeAddressTest"/>
        </classes>
    </test>

</suite>